연습 문제

두 개의 데이터프레임을 만들고 merge 명령으로 합친다. 단 데이터프레임은 다음 조건을 만족해야 한다.

각각 5 x 5 이상의 크기를 가진다.
공통 열을 하나 이상 가진다. 다만 공통 열의 이름은 서로 다르다.

In [8]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.arange(25).reshape(5,5), columns = ['a','b','c','d','e'])
df2 = pd.DataFrame(np.arange(25).reshape(5,5), columns = ['f','g','h','i','j'])

pd.merge(df1, df2, left_on = 'a', right_on = 'f')

    a   b   c   d   e   f   g   h   i   j
0   0   1   2   3   4   0   1   2   3   4
1   5   6   7   8   9   5   6   7   8   9
2  10  11  12  13  14  10  11  12  13  14
3  15  16  17  18  19  15  16  17  18  19
4  20  21  22  23  24  20  21  22  23  24

In [23]:
tips = pd.DataFrame({239: [29.03, 5.92, 'Male', "No", "Sat", "Dinner", 3],
                    240: [27.18, 2.00, "Female", "Yes", "Sat", "Dinner", 2],
                    241: [22.67, 2.00, "Male", "Yes", "Sat", "Dinner", 2],
                    242: [17.82, 1.75, "Male", "No", "Sat", "Dinner", 2],
                    243: [18.78, 3.00, "Female", "No", "Thur", "Dinner", 2]},
                   index = ["total_bill", "tip", "sex", "smoker", "day", "time", "size"])
tips = tips.T

In [25]:
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips.tail()

    total_bill   tip     sex smoker   day    time size    tip_pct
239      29.03  5.92    Male     No   Sat  Dinner    3   0.203927
240      27.18     2  Female    Yes   Sat  Dinner    2  0.0735835
241      22.67     2    Male    Yes   Sat  Dinner    2  0.0882223
242      17.82  1.75    Male     No   Sat  Dinner    2  0.0982043
243      18.78     3  Female     No  Thur  Dinner    2   0.159744

In [27]:
tips.describe()

        total_bill  tip   sex smoker  day    time  size   tip_pct
count         5.00  5.0     5      5    5       5     5  5.000000
unique        5.00  4.0     2      2    2       1     2  5.000000
top          22.67  2.0  Male     No  Sat  Dinner     2  0.088222
freq          1.00  2.0     3      3    4       5     4  1.000000

In [30]:
tips.groupby("sex").count()

        total_bill  tip  smoker  day  time  size  tip_pct
sex
Female           2    2       2    2     2     2        2
Male             3    3       3    3     3     3        3

In [31]:
tips.groupby("sex").size()

sex
Female    2
Male      3
dtype: int64

In [33]:
tips.groupby(["sex", "smoker"]).size()

sex     smoker
Female  No        1
        Yes       1
Male    No        2
        Yes       1
dtype: int64

In [39]:
tips.pivot_table("tip_pct", "sex", "smoker", aggfunc = 'count', margins = True)

smoker   No  Yes  All
sex
Female  1.0  1.0  2.0
Male    2.0  1.0  3.0
All     3.0  2.0  5.0

In [43]:
tips.pivot_table("tip_pct", "sex", "smoker")

DataError: No numeric types to aggregate

In [46]:
tips.groupby(["sex", "smoker"])[["tip", "tip_pct"]].describe()

                tip                   tip_pct
              count unique   top freq   count unique       top freq
sex    smoker
Female No       1.0    1.0  3.00  1.0     1.0    1.0  0.159744  1.0
       Yes      1.0    1.0  2.00  1.0     1.0    1.0  0.073584  1.0
Male   No       2.0    2.0  1.75  1.0     2.0    2.0  0.098204  1.0
       Yes      1.0    1.0  2.00  1.0     1.0    1.0  0.088222  1.0

In [47]:
def peak_to_peak(x):
    return x.max() - x.min()

tips.groupby(["sex", "smoker"])[["tip"]].agg(peak_to_peak)

                tip
sex    smoker
Female No      0.00
       Yes     0.00
Male   No      4.17
       Yes     0.00

In [51]:
tips.groupby(["sex", "smoker"]).agg( peak_to_peak)[["total_bill"]]

               total_bill
sex    smoker
Female No            0.00
       Yes           0.00
Male   No           11.21
       Yes           0.00

In [54]:
tips.groupby(["sex", "smoker"]).agg({'total_bill' : peak_to_peak})

               total_bill
sex    smoker
Female No            0.00
       Yes           0.00
Male   No           11.21
       Yes           0.00

In [60]:
tips.pivot_table(index=['sex', 'smoker'])

DataError: No numeric types to aggregate

In [61]:
tips.pivot_table(['tip_pct', 'size'], index=['sex', 'day'], columns='smoker')

DataError: No numeric types to aggregate

In [62]:
tips.pivot_table('size', index=['time', 'sex', 'smoker'],
                 columns='day', aggfunc='sum', fill_value=0)

day                   Sat  Thur
time   sex    smoker
Dinner Female No        0     2
              Yes       2     0
       Male   No        5     0
              Yes       2     0